body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-content h1 {
    color:#988780;
    text-align: center;
}
.main-content p {
    color: #b5d2dd;
    text-align: center;
}
.outros-botoes button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #e4cec8;
    color: #f1eceb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
}
.aulas button{
    display:table-footer-group;
    margin: 10px;
    padding: 10px;
    background-color: #e4cec8;
    color: #f1eceb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;
}
.aulas {
    margin-bottom: 20px; /* Adiciona espaço abaixo do botão Minhas Aulas */
}

.outros-botoes button {
    margin-right: 10px; /* Adiciona espaço entre os botões */
}



.students-list {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.students-list h2 {
    color: #333;
}

.students-list ul {
    list-style-type: none;
    padding: 0;
}

.students-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}


.students-list {
    float: right; /* Isso fará com que a lista flutue para o lado direito da tela */
    width: 200px; /* Defina a largura desejada para a lista */
    /* Outros estilos */
}

/* Se você estiver usando flexbox no container pai, poderia ser algo assim: */
.container {
    display: flex;
    justify-content: space-between; /* Isso alinha os itens filhos nas extremidades do container */
}


.outros-botoes {
    display: flex;
    justify-content: flex-start; /* Isso alinha os itens filhos no início do container, ou seja, à esquerda */
}
.outros-botoes {
    float: left; /* Isso fará com que a div flutue para o lado esquerdo */
}



